label,
input,
textarea {
  font-family: $font_default;
}

input,
textarea {
  border-radius: $radius;
  border: 1px solid #ccc;
  font-size: $font_size_default - 4;
  padding: 10px 6px;
}

input:focus,
textarea:focus { 
  border: 1px solid #F4901D;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #F4901D;
  outline: 0;
}

button[type="submit"],
input[type="submit"] {
  height: auto;
}

form.form-inline {
 
  input[type="text"],
  input[type="password"],
  input[type="email"], input.email,
  input[type="submit"], button[type="submit"] {
    display: inline-block;
  }

}
