@mixin gradients($start, $end) {
  background-color: $start;
  background-image: -webkit-gradient(linear, left top, left bottom, from($start), to($end));
  background-image: -moz-linear-gradient(top,  $start,  $end);
  background-image: -o-linear-gradient(top, $start 0%, $end 100%);
  background-image: -ms-linear-gradient(top, $start 0%, $end 100%);
  background-image: linear-gradient(top, $start 0%, $end 100%);	
}

@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
  -moz-box-sizing: $type;
  -o-box-sizing: $type; 
  -ms-box-sizing: $type;
  box-sizing: $type; 
}

@mixin hide-text {
  background-color: transparent;
  border: 0;
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
}

@mixin transition($value) {
    transition: $value;
    -moz-transition: $value;
    -o-transition: $value;
    -webkit-transition: $value;
}

@mixin transition-dur($value) {
    transition-duration: $value;
    -moz-transition-duration: $value;
    -o-transition-duration: $value;
    -webkit-transition-duration: $value;
}

@mixin opacity($opacity: 0.5) {
  opacity: $opacity;
  -webkit-opacity: $opacity;
  -moz-opacity: $opacity;
  // IE9
  @if $opacity == 0.3 {
    filter: alpha(opacity=30);
  }
  @else if $opacity == 0.5 
  {
    filter: alpha(opacity=50);
  }
  @else if $opacity == 0.8
  {
    filter: alpha(opacity=80);    
  }
  @else if $opacity == 1 
  {
    filter: alpha(opacity=100);    
  } 
}

@mixin btn-hover($color, $porcentage) {
  background: lighten($color, $porcentage);
}

@mixin text-hover($color, $porcentage) {
  color: lighten($color, $porcentage);
}

@mixin btn($first, $second, $type) {
  .btn-#{$type} {
    @include gradients($first, $second);
    border-color: $first $first $second;

    &:hover {
      @include btn-hover($first, 1%);
    }  
  }  
}