.buscar-az {
  float: none;
  margin: 0 auto;

  h2.title {
    margin: 30px 0 20px;
  }
  
  form {
    a,
    button,
    input {
      padding-left: 3%;
      padding-right: 3%;
    }
  }

  form.search-select {
    margin-left: 2%;
    margin-right: 2%;
  	width: 96%;
  }

  form.filtro-select {
    margin-left: 2%;
    margin-right: 2%;
  	width: 96%;
  }

  form.filtro-palabra {
    margin: 0 2%;
    width: 96%;

    .limpiar {
      display: inline-block;
      width: 20%;
    }
    .palabra {
      display: inline-block;
      width: 48%;
    }
    .enviar {
      display: inline-block;
      margin-left: -13px;
      width: 20%;
    }
  }
}